/* Likewise the box widths for the various content areas! */

@media print {
  #topnav {
    display: none;
  }
}

#siteheader {
  background: #C4D1F3;
  /*  background-image: url("img/banner_background.png"); 
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 50px 1px; */
}

#siteheader span {
  float: right;
  text-align: right;
  padding-right: 10px;
}

#siteheader img {
  height: 50px;
}

#sitefooter {
  /* height: 50px; */
  /* border-top:1px solid #765; */
  font-size: 93%;
  line-height: 93%;
  /* background:#DAE0D2 url("img/doors/bg.gif") repeat-x bottom; */
}

#sitefooter span {
  border-top:1px solid #765;
  float: right;
  text-align: right;
  font-style: italic;
  margin-right: 10px;
}

#topnav-barrier {
  clear: left;
}

#topnav {
  float: left;
  width: 100%;
  /* border: 1px solid blue; */
  font-size: 93%;
  line-height: normal;
  /* background: #e8ffe8; */
  background:#DAE0D2 url("img/doors/bg.gif") repeat-x bottom;
  /* padding: 0; */
}

#topnav ul {
  margin: 0;
  list-style: none;
  /* If sidenav is on the left, this should be
       padding: 10px 124px 0;
     If sidenav is on the right, it should be
       padding: 10px 10px 0;
   */
  padding: 10px 124px 0;
}

#topnav li {
  background:url("img/doors/left_both.gif") no-repeat left top;
  float: left;
  margin: 0;
  padding: 0 0 0 9px;
}

#topnav LI.current {
  background-position: 0% -150px;
}

#topnav LI.not-current {
  border-bottom:1px solid #765;
}

#topnav LI:hover.not-current {
  background-position: 0% -150px;
}

#topnav LI:hover.not-current A {
  background-position: 100% -150px;
}

#topnav a {
  background:url("img/doors/right_both.gif") no-repeat right top;
  display: block;
  border: none;
  /* width: 6em; */
  padding: 2px 10px 1px 1px;
  color: #765;
  /* background: white;   */
  /* border: 1px solid blue; */
}

#topnav LI.current A {
  padding-bottom: 2px;
  background-position: 100% -150px;
}

#topnav LI.not-current A {
  no-repeat right top;
}

@media print {
  #sidenav {
    display: none;
  }
}

#sidenav {
  float: left;
  padding: 4pt;
  margin: 0;
  /* position: absolute; */
  /* padding-top: 40px;
     top: 0px;   */
  border: 1px solid black;
  width: 100px;
  word-wrap: break-word;
  /* height: auto; */
  background: #ffffe0;
}

@media screen {
  #content {
    margin: 0;
   /* If sidenav is on the left, this should be
        padding-left: 124px;
      If sidenav is on the right, it should be
        padding-left: 10px;
    */
    padding-left: 124px;
    padding-right: 50px;
    word-wrap: break-word;
    border: 1px solid white;	
    /* The border is a trick to fix a margin background color issue
       at the top of the content frame. */
    /* border: 1px solid #ffffe0; */
    /* border: 1px solid blue; */
  }
}

/* If you change the background color, be sure to change it
   throughout. */
body {
  font-family: serif;
  line-height: 110%;
  padding: 0;
  margin: 0;
}

A:link    { text-decoration: none; color: blue }
A:visited { text-decoration: none; color: blue }
A:hover   { color: red }
A:active   { color: red }

A.noborder:link { color: #e8ffe8; }
A.noborder:visited { color: #e8ffe8; }
A.noborder:hover { color: blue; }
A.noborder:active { color: red; }

DIV.chapter H1 {
  border: 1px solid black;
  border-left: none;
  border-right: none;
}

H1 {
  font-weight: normal;
  text-indent: 0;
  margin-top: 24pt;
  font-size: 110%;
  line-height: 120%;
  font-weight: bold;
  font-family: sans-serif;
}

H1.subpart {
  text-align: center;
}

H1.title {
  text-align: center;
  margin-bottom: 20px;
}

H2 {
  text-decoration: underline;
  font-weight: normal;
  text-indent: 0;
  margin-top: 12pt;
  font-size: 110%;
  line-height: 110%;
  font-family: sans-serif;
}

H3 {
  font-weight: normal;
  text-indent: 0;
  margin-top: 12pt;
  font-size: 100%;
  line-height: 110%;
  font-family: sans-serif;
  font-style: italic;
}

/* P {
  text-align: justify;
} */

div.sidebar {
   float: right;
   width: 50%;
   margin-left: 0.2in;
   background-color: #cb90b5;
   /* background-color: #85cb7e; */
   padding: 0.2in;
   border: solid;
   border-top-width: 0.2in;
   border-bottom-width: 0.2in;
   border-left-width: 0.2in;
   border-color: white;
}

p.caption {
/* Nothing special for now */
}

div.figure {
   margin-left: 0.25in;
}

div.floatingtable {
   margin-left: 0.25in;
}

pre.programlisting {
   margin-left: 0.25in;
   background-color: lightgrey;
   padding: 0.1in;
}

pre.literallayout {
   margin-left: 0.25in;
   background-color: lightgrey;
   padding: 0.1in;
}

pre.grammarlisting {
   margin-left: 0.25in;
   background-color: #80ff80;
   padding: 0.1in;
}

div.toc {
   margin-left: 0.5in;
   margin-right: 0.5in;
}

p.toc-subpart {
   font-weight: bold;
   font-size: 120%;
   margin-top: 1.5ex;
   margin-bottom: 1.5ex;
}

p.toc-part {
   text-transform: uppercase;
   font-weight: bold;
   font-size: 120%;
   margin-top: 3ex;
   margin-bottom: 1.5ex;
}

p.toc-1 {
   font-weight: bold;
   font-size: 120%;
   margin-top: 1.5ex;
   margin-bottom: 1.5ex;
}

p.toc-2 {
   margin-left: 0.25in;
   font-size: 100%;
   margin-top: 0.2ex;
   margin-bottom: 0.2ex;
}

p.toc-3 {
   margin-left: 0.5in;
   font-style: italic;
   font-size: 85%;
   margin-top: 0.2ex;
   margin-bottom: 0.2ex;
}

p.toc-4 {
   margin-left: 0.75in;
   font-size: 85%;
   margin-top: 0.2ex;
   margin-bottom: 0.2ex;
}

p.sidebar-title {
   font-size: 140%;
   text-decoration: underline;
}

p.callout-title {
   font-size: 140%;
   text-decoration: underline;
}

p.pubdate {
  text-align: center;
}

p.captionlabel {
  font-weight: bold;
  float: left;
  clear: left;
  padding-right: 1ex;
}

div.caption {
  display: block;
}

div.nowrap {
  word-wrap: normal;
}

div.wrap {
  word-wrap: break-word;
}

div.dirgroup {
  margin-left: 20px;
}

div.synopsis {
  margin-left: 20px;
}

div.authorblock {
   margin-top: 0.2ex;
   margin-bottom: 0.2ex;
}

div.authorblock table {
   margin-left: auto;
   margin-right: auto;
}

div.authorblock table td {
   padding-left:  0.1in;
   padding-right: 0.1in;
   text-align: center;
}

div.titlepage {
   text-align: center;
}

div.legalnotice {
   margin-left: 1in;
   margin-right: 1in;
   text-align: left;
   background-color: lightblue;
}

div.abstract {
   margin-left: 0.5in;
   margin-right: 0.5in;
   text-align: left;
}

div.example {
   margin-left: 0.25in;
   text-align: left;
}

div.authorgroup {
   margin-top: 0.25in;
   margin-bottom: 0.25in;
}

div.author {
   margin-top: 0.2ex;
   margin-bottom: 0.2ex;
}

div.titlepage h1 {
   margin-top: 0.5in;
}

p.orgname {
   font-style: italic;
   margin-top: 0.2ex;
   margin-bottom: 0.2ex;
}

p.author {
   margin-top: 0.2ex;
   margin-bottom: 0.2ex;
}

p.copyright {
   margin-left: 1in;
   margin-right: 1in;
   text-align: left;
}

div.address {
   margin-top: 0;
   margin-bottom: 0;
   padding: 0;
   border-width: 0;
   line-height: 120%;
}

div.note {
   margin-left: 0.5in;
   margin-right: 0.5in;
   background-color: lightblue;
   padding-bottom: 5px;
}

div.caution {
   margin-left: 0.5in;
   margin-right: 0.5in;
   background-color: lightblue;
}

div.warning {
   margin-left: 0.5in;
   margin-right: 0.5in;
   background-color: lightblue;
}

table {
   border-collapse: collapse;
   margin-left: 0.25in;
   margin-right: 0.25in;
}

table table {
   margin-left: 0;
   margin-right: 0;
}

td {
   padding: 6px;
}

/* progident is visually enhanced by a background color: */
tt.progident {
  font-family: courier, monospaced;
  font-size: 105%;
}

tt.command {
  font-family: sans-serif;
  font-weight: normal;
}

tt.filename {
  font-family: sans-serif;
  font-weight: normal;
}

b.envvar {
  font-family: sans-serif;
  font-weight: bold;
}

b.makevar {
  font-family: serif;
  font-weight: bold;
}

sub {
  vertical-align: sub;
  font-size: 70%;  
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-alpha;
}

ol ol ol {
  list-style-type: lower-roman;
}

ol ol ol ol {
  list-style-type: upper-alpha;
}
